@model TapeDashboard.Models.Tape

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tape</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadEnUso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadEnUso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDisponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabelFisico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabelFisico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TapeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
