@model IEnumerable<TapeDashboard.Models.TipoRespaldos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoRespaldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoRespaldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoRespaldoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoRespaldoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoRespaldoID })
        </td>
    </tr>
}

</table>
